div{
    background-repeat: no-repeat;
    background-size: cover;
}
.c1 {
    color: #b1ced6;
    background-image: url("../../../../000_img/puppy.jpg");
}

.c2 {
    color: #b1ced6;
    background-image: url("../../../../000_img/puppy.jpg");
}

.c3 {
    color: #b1ced6;
    background-image: url("../../../../000_img/puppy.jpg");
}

.c4 {
    color: #b1ced6;
    background-image: url("../../../../000_img/puppy.jpg");

}

.c5{
    color: #b1ced6;
    background-image: url("../../../../000_img/puppy.jpg");
}

.c6{
    color: #b1ced6;
    background-image: url("../../../../000_img/puppy.jpg");
}

.c7{
    color: #b1ced6;
    background-image: url("../../../../000_img/puppy.jpg");
}
