body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation-name: wackabacka;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 10px groove orchid;
    animation-name: wackabacka;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes wackabacka {
        0% {justify-content: flex-start;}
        50%{justify-content: center;}
    100% {justify-content: flex-end;}
}
