
div {
    height: 400px;
    width: 600px;
    border: 20px groove orange;
    background-image: url("../../../../../000_img/doggo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
