.c1 {
    color: #b1ced6;
    background-color: #1daed6;
}

.c2 {
    color: #b1ced6;
    background-color: #1795b7;
}

.c3 {
    color: #b1ced6;
    background-color: #116e87;
}

.c4 {
    color: #b1ced6;
    background-color: #0d596d;

}

.c5{
    color: #b1ced6;
    background-color: #09404f;
}

.c6{
    color: #b1ced6;
    background-color: #073744;
}

.c7{
    color: #b1ced6;
    background-color: #052933;
}
